BODY{
  background-color: #D4D0C8;
  font-family: Arial;
}

div.itemList{
/*	background:#ff0000;
*/
}

div.showType{ 
	font-size: 12pt;

	margin-top: 10px;
}
div.item{padding: 3px;}
A.item {
	overflow: hidden;

	font-size: 10pt;

	color:#000000;
	background:#ffffff;


	padding-top: 3px;
	padding-left: 5px;

	display: block;

	text-decoration: none;

	border-color: #666666;


	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
}

A.item:hover {
	overflow: visible;
	color: #ffffff;
	background:#000000;
}

A.item:active {
	color: #ff0000;
	background:#CCCCCC;
}

A.item:visited {
}

A.selectedItem {
	overflow: visible;

	font-size: 10pt;

	color: #ff0000;
	background:#CCCCCC;


	padding-top: 3px;
	padding-left: 5px;

	display: block;

	text-decoration: none;

	border-color: #666666;


	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;

}

div.tree{
	margin-left: 1.2em;
}

A.treeMenu{
	text-decoration: none;
	color:#000000;
	font-size: 12pt;
	border-color: #666666;
	margin-left: -0.2em;
}


A.button{
	color: #000000;
	text-decoration: none;
 }


TD.button{
	color: #000000;
	background-color: #D4CDC8;
	border-top: 1px #FFFFFF solid;
	border-left: 1px #FFFFFF solid;
	border-right: 2px #404040 solid;
	border-bottom: 2px #404040 solid;
	font-size: 9pt;
	text-align: center;
	padding: 3px 12px;
	cursor: default;
}

TD.buttonDown{
	color: #000000;
	background-color: #D4CDC8;
	border-top: 2px #404040 solid;
	border-left: 2px #404040 solid;
	border-right: 1px #FFFFFF solid;
	border-bottom: 1px #FFFFFF solid;
	font-size: 9pt;
	text-align: center;
	padding: 3px 12px;
	cursor: default;
}

TD.blank{
	width: 4px;
}
